*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior:smooth;
}

body{
  background:#0f172a;
  color:white;
}

/* Navbar */
nav{
  position:sticky;
  top:0;
  background:#020617;
  padding:15px 50px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0 4px 20px rgba(0,0,0,0.4);
  z-index:1000;
}

nav h1{
  color:#38bdf8;
}

nav ul{
  display:flex;
  list-style:none;
  gap:25px;
}

nav a{
  color:white;
  text-decoration:none;
  font-weight:500;
  transition:0.3s;
}

nav a:hover{
  color:#38bdf8;
}

/* Sections */
section{
  padding:80px 60px;
  min-height:100vh;
}

h2{
  font-size:2.2rem;
  margin-bottom:20px;
  color:#38bdf8;
}

/* Cards */
.card{
  background:#1e293b;
  padding:20px;
  margin:15px 0;
  border-radius:15px;
  box-shadow:0 0 20px rgba(56,189,248,0.1);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
  box-shadow:0 0 25px rgba(56,189,248,0.4);
}

/* Button */
button, a.download{
  background:#38bdf8;
  border:none;
  padding:12px 22px;
  border-radius:10px;
  color:black;
  font-weight:bold;
  cursor:pointer;
  text-decoration:none;
  display:inline-block;
  margin-top:15px;
  transition:0.3s;
}

button:hover, a.download:hover{
  background:white;
}

/* Skills list */
.skills-list{
  display:flex;
  flex-wrap:wrap;
  gap:15px;
}

.skill{
  background:#1e293b;
  padding:12px 20px;
  border-radius:30px;
  box-shadow:0 0 15px rgba(56,189,248,0.2);
}
